.sidebar{
    font-size: 120%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

img {
    width: 60%;
    height: auto;
    float: left;
    /* float: left; */
    /* padding: 5px; */
}

.banner-description{
    /* text-align: justify; */
    padding: 5px;
    height: fit-content;
}

p{
    margin: 0px;
}

.messages{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
}