.sidebar{
    font-size: 120%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

img {
    width: 60%;
    height: auto;
    float: left;
}

.banner-description{
    text-align: justify;
    padding: 5px;
}

p{
    margin: 0px;
}