.sidebar{
    font-size: 120%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

img {
    width: 40%;
    height: auto;
    float: left;
}

.banner-description{
    text-align: justify;
}