.main-area{
    display: flex;
    justify-content: center;

}

.sidebar{
    width: 60%;
    float: left;
}

table, tr, th, td{
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid black 1px;
    text-align: center;
    font-size: 110%;
}