.main-area{
    display: flex;
    justify-content: center;

}
table, tr, th, td{
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid black 1px;
    text-align: center;
}