/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .recent{
        display: none;
        
    }
    body{
       font-size: 16px; 
       text-align: center;
    }

    .messages{
        text-align: left;
        font-size: 14px;
    }

    .main-area{
        width: auto;
        float: none;
        padding-right: 0px;
    }

    .sidebar{
        display: none;
    }

    .changelog{
        display: none;
    }

    header{
        border-bottom: 3px solid #e5e9dc;
    }

    .container{
        width: auto;
    }

    .content-area{
        width: auto;
    }

    .dropdown{
        display: none;
    }

    .small-link{
        display: block;
        
    }

    .small-link a{
        padding: 8px 20px;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .sidebar{
        display: none;
    }

    .container{
        width: auto;
    }
    .main-area{
        width: auto;
        float: none;
        padding-right: 0px;
    }
    .small-link{
        display: block;
    }
    .dropdown{
        display: none;
    }
    .small-link a{
        padding: 8px 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 960px) {
    .container{
        width: 940px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main-area{
        width: 66%;
        float: left;
        padding-right: 40px;
    }
    .container{
        width: 940px;
    }
    .sidebar{
        display:block;
    }
    .small-link{
        display: none;
    }
    .dropdown{
        display: block;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */